# Python (Compiled Python and other files)
*.pyc
__pycache__
notebooks

# Env files with sensitive information
.env*

# Python virtual environment-specific directories
.venv*
venv*
*venv

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
*.icloud
Desktop.ini
Network Trash Folder
Temporary Items
Thumbs.db

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio, PyCharm
.vscode/
.history/
*.code-workspace
.idea

